<!DOCTYPE html>
<html class="h-full">
    <head>
        <title>{{title}}</title>
        <link rel='stylesheet' href='../../css/output.css'/>
    </head>

    <body class="h-full m-0 p-0">
        <div class="w-full h-full flex flex-col justify-between">
            <div></div>
            <div class="content-center">{{{body}}}</div> 
            {{> footer}}
        </div>
    </body>

    

</html>